<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>{% block title %}System login page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Piotr Wozniak">
    <meta name="theme-color" content="#7952b3">
    <meta name="theme-color" content="#7952b3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/rulePage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/processPage.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <style>

    </style>
    <script>
        $(function() {
          var $datepickerFrom = $("#fromperiod").datepicker({
            //changeMonth: true,
            dateFormat: "yy-mm-dd",
            //numberOfMonths: 1,
            //defaultDate: null,
            onClose: function(selectedDate) {
              $("#toperiod").datepicker("option", "minDate", selectedDate);
            }
          });
          fromperiod = $('#fromperiod').val()
          if (fromperiod.length == 0) {
            $datepickerFrom.datepicker('setDate', new Date());
          }

          var $datepickerTo = $("#toperiod").datepicker({
            //defaultDate: "+1w",
            //changeMonth: true,
            dateFormat: "yy-mm-dd",
            //numberOfMonths: 1,
            onClose: function(selectedDate) {
              $("#fromperiod").datepicker("option", "maxDate", selectedDate);
            }
          });
          toperiod = $('#toperiod').val()
          if (toperiod.length == 0) {
            $datepickerTo.datepicker('setDate', new Date());
          }
        });
    </script>
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

</head>
<body class="text-center">
<main class="form-signin">
    {% csrf_token %}
    {% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">System SMUP</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            {% if account == "GUEST" %}
            <div>
                <a class="btn btn-success " href="login">Zaloguj się</a>
            </div>
            {% else %}
            <a class="me-3 py-2 text-dark text-decoration-none">Witaj:</a>
            <a class="me-3 py-2 text-success text-decoration-none" href="profil">{{userLabel}}</a>
            <a class="me-3 py-2 text-dark text-decoration-none">[{{account}}]</a>
            <a class="btn  btn-success" href="logout">logout</a>
            {% endif %}
        </nav>
    </div>
    <section class="text-center form-control">
        <div class="d-grid gap-2">
            {% if account == "GUEST" %}
            <h1 class="fw-light">Zaloguj się, aby rozpocząć</h1>
            {% else %}
            <h1 class="fw-light">Wybierz opcję Export/Import:</h1>
            {% for message in messages %}
            {% if 'error' in message.extra_tags %}
            <div class="alert alert-danger">
                <strong>{{message}}</strong>
            </div>
            {% elif 'info' in message.extra_tags %}
            <div class="alert alert-success">
                <strong>{{message}}</strong>
            </div>
            {% endif %}
            {% endfor %}
            <p class="lead text-muted"></p>
            {% if account == "MANAGER" or account == "PROCESS MANAGER" or account == "ADMIN" %}
            <form action="import" enctype="multipart/form-data"  method="post" id="import">
                {% csrf_token %}
                <h3 class="fw-light">Importuj dane:</h3>
                <p>
                    Wczytaj dane:
                    <input class="btn " id="files" type="file" name="myfile" multiple="multiple" file-accept="xlsx" />
                <p> <input class="btn btn-secondary" type="submit" name="submit" value="Upload" /></p>
                <p/>
            </form>
            {% endif %}
            <div></div>
            <form action="export" method="post" id="export"> {% csrf_token %}
                <h3 class="fw-light">Exportuj dane:</h3>
                <p>
                    <button class="btn btn-secondary collapse show" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Wiecej
                    </button>
                    <button href="export" type="submit" class="btn btn-primary">Export</button>

                </p>
                <div id="accordionExample">
                    <div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <label class="col-sm-2 col-form-label">Typ arkusza:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select name="docType" class="form-select" aria-label="Default select example">
                                            <option>Standard</option>
                                            <option>Standard-2</option>
                                            <option>Raport</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <label class="col-sm-2 col-form-label">Statystyki:</label>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-check">
                                            <input name="averageParam" class="form-check-input" type="checkbox" {%if excelData.averageParam%} checked {% endif %}>
                                            <label class="form-check-label">
                                                Średnia arytmetyczna
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-check">
                                            <input name="dominantParam" class="form-check-input" type="checkbox" {%if excelData.dominantParam%} checked {% endif %}>
                                            <label class="form-check-label">
                                                Modalna (Dominanta)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-check">
                                            <input name="varianceParam" class="form-check-input" type="checkbox" {%if excelData.varianceParam%} checked {% endif %}>
                                            <label class="form-check-label">
                                                Wariancja
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-check">
                                            <input id="minimumParam" class="form-check-input" type="checkbox" {%if excelData.minimumParam%} checked {% endif %}>
                                            <label class="form-check-label">
                                                Minimum
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-check">
                                            <input id="maximumParam" class="form-check-input" type="checkbox" {%if excelData.maximumParam%} checked {% endif %}>
                                            <label class="form-check-label">
                                                Minimum
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-check">
                                            <input name="standardDeviationParam" class="form-check-input" type="checkbox" {%if excelData.standardDeviationParam%} checked {% endif %}>
                                            <label class="form-check-label">
                                                Odchylenie standardowe
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-check">
                                            <input name="typicalRangeOfVolatilityParam" class="form-check-input" type="checkbox" value="" >
                                            <label class="form-check-label">
                                                Typowy przedział zmienności
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <label class="col-sm-2 col-form-label">Dodatkowe opcje:</label>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-check">
                                            <input name="timeMinParam" class="form-check-input" type="checkbox" value="{{excelData.timeMinParam}}" >
                                            <label class="form-check-label">
                                                Zapis czasu w min.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="form-check">
                                            <input name="anonymizationParam" class="form-check-input" type="checkbox" value="{{excelData.anonymizationParam}}" >
                                            <label class="form-check-label">
                                                Anonimizacja danych
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <label class="col-form-label">Zakres czasowy:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div>
                                            <label for="fromperiod">Od: </label>
                                            <input class='form-control' type="text" id="fromperiod" name="timeFrom" value="{{excelData.timeFrom}}">
                                            <label for="toperiod"> Do: </label>
                                            <input class='form-control' type="text" id="toperiod" name="timeTo" value="{{excelData.timeTo}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <label class="col-form-label">Jednosta czasu:</label>
                                    </div>

                                    <div class="col-sm-8">
                                        <div>
                                            <select class="form-select" name="timeRange" aria-label="Default select example">
                                                <option value="">Na podstawie reguł</option>
                                                {% for t in timeRange %}
                                                <option {% if t.id_time_range == excelData.id_time_range %} selected{% endif %} value="{{t.name}}">{{t.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <h3 class="fw-light">Wybierz reguły:</h3>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">
                                            </th>
                                            <th scope="col">Nazwa</th>
                                            <th scope="col">Informacja</th>
                                            <th scope="col">Jednostka</th>
                                            <th scope="col">Okres</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for rule in rules%}
                                        <tr>
                                            <td>
                                                <input name="id_{{rule.id_rule}}" class="form-check-input" name="check_rule_{{rule.id_rule}}" type="checkbox" checked>
                                            </td>
                                            <td>{{rule.name}}</td>
                                            <td>{{rule.data_type.name}}</td>
                                            <td>{{rule.time_range.name}}</td>
                                            <td>{{rule.time_from|date:'d-m-Y'}} - {{rule.time_to|date:'d-m-Y'}}</td>
                                            <td>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

            </form>
        </div>
        <form>
            <a class="btn btn-secondary btn-lg btn-block" href="../">Wróć</a>
        </form>
    </section>

    {% endblock %}
</main>
</body>
</html>