<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>{% block title %}System login page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Piotr Wozniak">
    <meta name="theme-color" content="#7952b3">
    <meta name="theme-color" content="#7952b3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}" />
    <style>

    </style>
</head>
<body class="text-center">
<main class="form-signin">
    {% csrf_token %}
    {% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">System SMUP</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            {% if account == "GUEST" %}
            <div>
                <a class="btn btn-success " href="login">Zaloguj się</a>
            </div>
            {% else %}
            <a class="me-3 py-2 text-dark text-decoration-none">Witaj:</a>
            <a class="me-3 py-2 text-success text-decoration-none" href="profil">{{userLabel}}</a>
            <a class="me-3 py-2 text-dark text-decoration-none">[{{account}}]</a>
            <a class="btn  btn-success" href="logout">logout</a>
            {% endif %}
        </nav>
    </div>

    <section class="text-center container form-control">
        <div class="d-grid gap-2">
            {% if account == "GUEST" %}
            <h1 class="fw-light">Zaloguj się, aby rozpocząć</h1>
            {% else %}
            <h1 class="fw-light">Użytkownicy:</h1>
            <p class="lead text-muted"></p>
            {% if account == "ADMIN" or "PROCESS MANAGER" or "MANAGER"%}
            {% for message in messages %}
            {% if 'error' in message.extra_tags %}
            <div class="alert alert-danger">
                <strong>{{message}}</strong>
            </div>
            {% elif 'info' in message.extra_tags %}
            <div class="alert alert-success">
                <strong>{{message}}</strong>
            </div>
            {% endif %}
            {% endfor %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <!--<th scope="col">#</th>-->
                    <th scope="col">Login</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Jednostka</th>
                    <th scope="col">Rola</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employeesData %}
                <tr>
                    <!--<th scope="row">{{employee.idemployee}}</th>-->
                    <td>{{employee.auth_user.username}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.surname}}</td>
                    <td>{{employee.idunit.name}}</td>
                    <td>{{employee.idemployeetype.name}}</td>
                    <td>
                        <div>
                            <div class="modal fade" id="exampleModal{{employee.idemployee}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Zapis</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div>Czy na pewno chcesz wykonać operację?</div>
                                            <div>UWAGA:</div>
                                            <a>Wykonanie operacji usuniecia użytkownika spowoduje usunięcie wszyskich jego danych.</a>
                                        </div>
                                        <form action="../user/{{employee.idemployee}}/delete" method="post">
                                            {% csrf_token %}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                                                <button type="submit" class="btn btn-success">Tak</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if employee.isactive == 0 %}
                        <a href="../user/{{employee.idemployee}}/active" class="btn btn-success">Atywuj</a>
                        {% else %}
                        <a href="../user/{{employee.idemployee}}/active" class="btn btn-danger" >Deaktywuj</a>
                        {% endif %}
                        <a class="btn btn-primary" href="../user/{{employee.idemployee}}">Edytuj</a>
                        <a class="btn btn-danger" value="Delete exercise" data-bs-toggle="modal" data-bs-target="#exampleModal{{employee.idemployee}}">Usuń</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form>
                <a class="btn btn-success btn-lg btn-block" href="../user">Dodaj</a>
                <a class="btn btn-secondary btn-lg btn-block" href="../">Wróć</a>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </section>
    {% endblock %}
</main>
</body>
</html>