<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>{% block title %}System login page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Piotr Wozniak">
    <meta name="theme-color" content="#7952b3">
    <meta name="theme-color" content="#7952b3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/processPage.css' %}" />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <style>
    </style>
    <script type="text/javascript">
        function styleRows(elements) {
            for (var i = 1; i < elements.length; i++) {
                ii = elements[i].children[0].children[0].value.split('.').length
                if (ii == 2) {
                    elements[i].className = "firstRow";
                }
                else if (ii == 3) {
                    elements[i].className = "secondRow";
                }
                else if (ii == 4) {
                    elements[i].className = "thirdRow";
                }
                else {
                    elements[i].className = "subRow";
                }
                elements[i].children[0].children[0].style.float = 'right'
                elements[i].children[0].children[0].style.width = (100 - ((ii - 2) * 9))  + '%'
                if (ii == 2)
                    elements[i].children[0].children[0].style.fontWeight = 'bold'
            }
        }

        function deleteProcess() {
            console.log('delete start')
            trElement = $(event.target).parent().parent('tr')
            nextTrElement = $(event.target).parent().parent('tr').next();
            lastTrElement = $(event.target).parent().parent('tr').last()
            //console.log()
            if (nextTrElement[0]  === undefined) {
                $(event.target).parent().parent().remove();
                console.log('delete')
            } else {
                thisId = trElement[0].cells[0].children[0].value;
                nextId = nextTrElement[0].cells[0].children[0].value;
                if(nextId.indexOf(thisId) == -1) {
                    console.log('delete')
                    deleteElement = $(event.target).parent().parent()
                    refreshNextIds(deleteElement)
                    deleteElement.remove();

                } else {
                    console.log('error')
                    alert('Nie można usunąć elementu (istnieje podproces)')
                }
            }
            styleRows($('#mainProcessTabel tr'))
        }
        function getSubProcess(processRow) {
            i = 1;
            nextTrElement = processRow;
            mainId = processRow[0].cells[0].children[0].value;
            //console.log(mainId)
            while(nextTrElement.next().length > 0) {
                nextTrElement = nextTrElement.next()
                anotherId = nextTrElement[0].cells[0].children[0].value
                if (anotherId.indexOf(mainId) != 0) {
                    break;
                } else {
                    //console.log(anotherId);
                    i++;
                }
            }
            return i;
        }
        function addSubProcess() {
            var newElementId = getLasId() + 1;
            var realId = 1;
            trElement = $(event.target).parent().parent('tr')
            thisId = trElement[0].cells[0].children[0].value;
            newElementId = newElementId.toString();
            //console.log(trElement.next()[0].cells[0].children[0].value)
            subElements = getSubProcess(trElement);
            ii = trElement[0].children[0].children[0].value.split('.').length + 1;
            for (var i = 1; i < subElements; i++) {
                trElement = trElement.next()
                if (trElement[0].children[0].children[0].value.split('.').length == ii)
                    realId++
                //console.log(trElement[0].children[0].children[0].value)

            }
            var intLastId = thisId + realId.toString();
            htmlText = createNewRow(intLastId, newElementId);
                /*htmlText = "<tr id='" + newElementId + "'><td><input class='form-control' name='id_" + newElementId + "' readonly='readonly' value='" + intLastId.toString() +".'></input></td>"
                    + "<td><input name='name_" + newElementId + "' type='text' class='form-control' name='name' placeholder='Nazwa' id='name' value='{{process.name}}'></td>"
                    + "<td><input name='name_" + newElementId + "' type='text' class='form-control' name='name' placeholder='Nazwa' id='name' value='{{process.name}}'></td>"
                    + "<td><textarea name='text_" + newElementId + "' cols='40' class='form-control' rows='1' class='vLargeTextField' id='id_tip'>{{process.tip}}</textarea></td>"
                    + "<td><a class='btn btn-primary' onclick='addSubProcess()'>Dodaj</a>"
                    + " <a onclick='deleteProcess()' class='btn btn-danger' data-bs-toggle='modal' data-bs-target='#exampleModal'>Usuń</a></td>"
                    + "</tr>"*/
            trElement.after(htmlText)
            styleRows($('#mainProcessTabel tr'))
            
        }
        function getLasId() {
            var newElementId = $("#mainProcessTabel tr");
            var idArray = new Array(newElementId.length - 1)
            for (var i = 1; i < newElementId.length; i++) {
               idArray[i - 1] = parseInt(newElementId[i].id);
            }
            return Math.max.apply(Math,idArray);
        }

        function refreshNextIds(cProcess) {
            idArray = cProcess[0].children[0].children[0].value.split('.');
            lastId = parseInt(idArray[idArray.length - 2]);
            while(cProcess.next().length > 0 && idArray.length <= cProcess.next()[0].children[0].children[0].value.length) {
                cProcess = cProcess.next()
                subIdArray = cProcess[0].children[0].children[0].value.split('.')
                newId = '';
                for (var i = 0; i < subIdArray.length - 1; i++) {
                    if (i == idArray.length - 2) {
                        newId += (parseInt(subIdArray[i]) - 1) + '.';
                    } else
                        newId += subIdArray[i] + '.';
                }
                newId + lastId;
                lastId++;
                cProcess[0].children[0].children[0].value = newId;
            }
            //console.log(cProcess)
            //console.log(nProcess)
        }

        function createNewRow(intLastId, newElementId) {
            htmlText = "<tr id='" + newElementId + "'><td>"
                    + "<input class='form-control' name='id_" + newElementId + "' readonly='readonly' value='" + intLastId.toString() +".'></input></td>"
                    + "<td><input name='name_" + newElementId + "' type='text' class='form-control' name='name' placeholder='Nazwa' id='name' value='{{process.name}}'></td>"
                    + "<td><textarea name='text_" + newElementId + "' cols='40' class='form-control' rows='1' class='vLargeTextField' id='id_tip'>{{process.tip}}</textarea></td>"
                    + "<td><a class='btn btn-primary' onclick='addSubProcess()'>Dodaj</a>"
                    + " <a onclick='deleteProcess()' class='btn btn-danger' data-bs-toggle='modal' data-bs-target='#exampleModal'>Usuń</a></td>"
                    + "</tr>"
            return htmlText;
        }
        function addMainProcess() {
            var newElementId = getLasId() + 1;
            if (newElementId == -Infinity)
                newElementId = 1
            newElementId = newElementId.toString();
            var lastId = $('#mainProcessTabel tr:last-child td input').val()
            if (lastId === undefined) {
                var intLastId = 1;
                htmlText = createNewRow(intLastId, newElementId);
                $(mainProcessTabel).find('tbody').append(htmlText);
            } else {
                lastId = lastId.split('.')[0]
                var intLastId = parseInt(lastId) + 1;
                htmlText = createNewRow(intLastId, newElementId);
                $(mainProcessTabel).find('tbody').append(htmlText);
            }
            styleRows($('#mainProcessTabel tr'))
        }
    </script>
</head>
<body class="text-center" onload="styleRows($('#mainProcessTabel tr'))">
<main class="form-signin">
    {% csrf_token %}
    {% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">System SMUP</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            {% if account == "GUEST" %}
            <div>
                <a class="btn btn-success " href="login">Zaloguj się</a>
            </div>
            {% else %}
            <a class="me-3 py-2 text-dark text-decoration-none">Witaj:</a>
            <a class="me-3 py-2 text-success text-decoration-none" href="profil">{{userLabel}}</a>
            <a class="me-3 py-2 text-dark text-decoration-none">[{{account}}]</a>
            <a class="btn  btn-success" href="logout">logout</a>
            {% endif %}
        </nav>
    </div>

    <section class="text-center form-control">
        <div >
            {% if account == "GUEST" %}
            <h1 class="fw-light">Zaloguj się, aby rozpocząć</h1>
            {% else %}
            <form id="viewProcess" method="post"> {% csrf_token %}
                <h1 class="fw-light">Procesy:</h1>
                {% for message in messages %}
                {% if 'error' in message.extra_tags %}
                <div class="alert alert-danger">
                    <strong>{{message}}</strong>
                </div>
                {% elif 'info' in message.extra_tags %}
                <div class="alert alert-success">
                    <strong>{{message}}</strong>
                </div>
                {% endif %}
                {% endfor %}
                <p class="lead text-muted"></p>
                {% if account == "ADMIN" or "PROCESS MANAGER"%}
                <table id="mainProcessTabel" class="table">
                    <thead>
                    <tr>
                        <!--<th scope="col">#</th>-->
                        <th style="width: 9%" scope="col">Numer</th>
                        <th style="width: 40%" scope="col">Nazwa</th>
                        <th scope="col">Komentarz</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for process in processData%}

                    <tr id="{{process.id}}">
                        <td >
                            <input name="id_{{process.id}}" class="form-control" readonly="readonly" value="{{process.no}}"></input>
                        </td>
                        <td><input name='name_{{process.id}}' type="text" class="form-control" name='name' placeholder="Nazwa" id="name" value="{{process.name}}"></td>
                        <td><textarea name="text_{{process.id}}" cols="40" class="form-control" rows="1" class="vLargeTextField" id="id_tip">{{process.tip}}</textarea></td>
                        <td><a class="btn btn-primary" onclick="addSubProcess()">Dodaj</a>
                            <a onclick="deleteProcess()" class="btn btn-danger">Usuń</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Zapis</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>Czy na pewno chcesz wykonać operację?</div>
                                <div>UWAGA:</div>
                                <a></a>
                            </div>
                            <form action="../process" method="post">
                                {% csrf_token %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                                    <button type="submit" class="btn btn-success">Tak</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <a id="mainProcessButton" class="btn btn-primary btn-lg" onclick="addMainProcess()">Dodaj główny proces</a>
                <button type="submit" class="btn btn-success btn-lg" value="Delete exercise" data-bs-toggle="modal" data-bs-target="#saveModal">Zapisz</button>
                <a class="btn btn-secondary btn-lg" href="../">Wróć</a>
            </form>
            {% endif %}
            {% endif %}
        </div>

    </section>
    {% endblock %}
</main>
</body>
</html>