<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        {% if logged == "yes" %}
            <a>{{current_datetime}}</a>
            <a>Welcome:</a>
            <a> {{userLabel}} </a>
            <a href="profil">profil</a>
            <a href="logout">logout</a>
            {% for process in processData %}
                <li><a>{{ process }}</a></li>
            {% endfor %}
        {% else %}
            <a>Please Login</a>
            <a href="login">login</a>
        {% endif %}
    {% endblock %}
</body>
</html>